<%-include("partials/header"); -%>
<h1>Composs</h1>
<form action="/compose" method="post">
    <div><label>Title</label></div>
    <input class="txt" type="text" name="titlebody" placeholder="Enter the title" autocomplete="off">
    <div><label>Post</label></div>
    <div>
    <textarea class="text_input" name = "postbody"></textarea><br>
    </div>
    <div>
    <button class="bttn1" type="submit" >Publish</button>
    </div>
    
</form>
